[user]
    name = Christopher Schwan
    email = handgranaten-herbert@posteo.de
[branch]
    sort = -committerdate
[push]
    autoSetupRemote = true
    default = simple
    followTags = true
[pull]
    ff = only
[diff]
    algorithm = histogram
    colorMoved = plain
    mnemonicPrefix = true
    renames = true
[fetch]
    all = true
    prune = true
    pruneTags = true
[filter "lfs"]
    required = true
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
[commit]
    verbose = true
    gpgsign = true
[merge]
    conflictstyle = zdiff3
[gpg]
    program = gpg
[init]
    defaultBranch = main
[tag]
    sort = version:refname
